body,
button,
input,
select,
textarea {
  font-family: "Oswald", sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
}

.column {
  padding: 0em 5em 0em 5em;
}

/* Font styling */
.title.is-1 {
  margin-top: 2rem;
  padding-top: 1em;
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title.is-3 {
  text-transform: uppercase;
}

p.title.is-6 {
  font-size: 1.5em;
  margin-top: 1em;
  font-weight: 400;
}

.title:not(:last-child),
.subtitle:not(:last-child) {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/* buttons */
.button {
  border-radius: 0;
}

/* Video*/
header {
  overflow: hidden;
  max-height: 100%;
}

video {
  position: inherit;
  min-width: 100%;
  overflow: hidden;
  z-index: -1;
}

.homepage-hero-module {
  border-right: none;
  border-left: none;
  position: relative;
}

.no-video .video-container video,
.touch .video-container video {
  display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}

.video-container {
  position: relative;
  bottom: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: #000;
}

.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}

.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.video-container video.fillWidth {
  width: 100%;
}

@media screen and (max-width: 420px) {
  .title.is-1 {
    font-size: 2em;
  }
  
  p.title.is-6 {
    font-size: 1.2em;
  }

  .title:not(:last-child),
  .subtitle:not(:last-child) {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
}