body {
	font-family: 'Oswald', sans-serif; 
	padding: 0px;
	margin: 0px;
}

h1, 
p {
	color: black; 
}

h1 {
	font-size: 4em;
	text-transform: uppercase;
	font-weight: 600;
}

h2 {
	font-size: 2em;
	text-transform: uppercase;
	color: red;
	line-height: 1.3em;
}


/* Voucher */ 
.modalButton {
	position: absolute;
	bottom: 2%;
}


/* header */ 
.banner {
	width: 100%; 
}

.megamate-logo {
	width: 20%;
	margin-left: 3%; 
	margin-top: 3%; 
}

.navbar-customize {
	color:  white; 
	margin: 10%; 
	font-weight: bold; 
	font-size: 2em;
	z-index: 1000;
}

a:hover {
	color: #FAB418;  
}

.burger-customize {
	background-color: transparent;
	margin-left: 88%; 
}

.homepage-hero-module {
	border-right: none;
	border-left: none;
	position: relative;
}

.no-video .video-container video,
.touch .video-container video {
	display: none;
}

.no-video .video-container .poster,
.touch .video-container .poster {
	display: block !important;
}

.video-container {
	position: relative;
	bottom: 0%;
	left: 0%;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background: #000;
}

.video-container .poster img {
	width: 100%;
	bottom: 0;
	position: absolute;
}

.video-container .filter {
	z-index: 100;
	position: absolute;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
}

.video-container video {
	position: absolute;
	z-index: 0;
	bottom: 0;
}

.video-container video.fillWidth {
	width: 100%;
}


/* Vision */ 
.vision-title, .vision-subtitle, .vision-paragraph  {
	font-family: 'Oswald', sans-serif;
	color: black;
}

.vision-paragraph  {
	font-size: 1.5em;
	line-height: 1.3em;
	padding-top: 5px;
}

.column {
	padding: 5em;
}

img#gubbe, #louiJama, #jungleGinger {
	align-content: center;
	padding-top: 5em;
}
    

/* Image Section */ 
img#megaMateFlagga {
	padding-top: 5em;
}


/* Products CSS */ 
.background {
	background-color:#fff;
}

.productSite {
	display:flex;
	justify-content: space-around;
}

.productInfo {
	padding-top: 17em;
}

.productInfo h3 {
	color: #FAB418;
}


/* events css */

.events {
	min-height: 58.3437em;
	color: #fff;
	max-width: 100%;
}

.events-title,
.events-subtitle,
.events-name,
.past-events-title,
.events-p {
  color: white;
}

.past-events-title {
	text-align: right;
	padding-right: 50px;
	padding-top: 100px;
}

.events .bg-image {
	position: absolute;
	background: #333 url('../images/megaMate_eventsbg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 58.3437em;
	z-index: -1;
}

.megaTitle {
	padding: 5em;
}

.events-placeholder {
		padding: 10px 50px 5px 50px;
} 

#events-button {
	background-color: #FAB418;
	color: white;
}

/*  Resellers */ 
.map {
  padding: 0;
}

.locationName {
	padding-top: 5px;
	font-size: 20px;
}

iframe {
	height: 400px;
	width: 100%;
	padding: 0;
}

/* css footer */ 
.footer {
	background-color: #FAB418;
}

.footer-title {
	font-size: 2em;
	font-weight: bold;
}

#footer-title {
	margin-bottom: 0.1em; 
}

.footer-container {
	margin-left: 1rem;
	width: 100%; 
}

.footer-p {
	font-size: 1.2em;
}

.footer-title,
.footer-p {
	color: white;
}

.footer-logo{
	color: white; 
}

.logo-link {
	padding: 5px;
}

.footer-news {
	color: white;
	font-size: 1.5em;
	margin-top: 1em;
	width: 100%; 
}

.newsletter-container {
	margin-top: 1em; 
	width: 100%;
	margin-left: 1em; 
}

#control-input {
	width: 80%;
}

#input-field,
#news-button {
	height: 2em; 
}

#input-field {
	background-color: #FAB418;
  border-color: #FAB418;
  border-bottom: 1px solid white;
  padding-left: 0em;
  padding-bottom: 0em;
	box-shadow: unset;
	
}

#input-field::placeholder {
	color: white;
} 

#news-button {
	background-color: white; 
	color: #FAB418;
	margin-left: 1em;  
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

@media screen and (min-width: 800px) {
	.footer {
		display: flex; 
	}
	.footer-container {
		width: 50%; 
	}

	.newsletter-container {
		width: 50%;
	}
}


