body {
    font-family: 'Oswald', sans-serif; 
}


.banner {
    width: 100%; 
}

.logo {
    width: 15%; 
    margin-left: 3%; 
    margin-top: 3%; 

}

.navbar-customize {
    color:  white; 
    margin: 26%; 
    font-weight: bold; 
    font-size: 2em;
}

a:hover {
    color:#f7b643;  
}

.burger-customize {
    background-color: transparent;
    margin-left: 88%; 
    
}
