@import '/eventsBackground.jpg';
/* .events {
    background-image: url('./eventsBackground.jpg');
    display: inline;
    background-size: cover; 
    background-position: center;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: -1;
} */

/* .backgroundOverlay {
    background: rgba(243, 55, 55, 0.7);
    background-size: cover;
    top: 0;
    bottom: 0;
    width: 120rem;
    height: 1080px;
    z-index: 1;
} */

.events {
    min-height: 58.3437em;
    color: #fff;
    max-width: 100%;
}

.events .bg-image {
    position: absolute;
    background: #333 url('./eventsBackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 58.3437em;
    z-index: -1;
}

.megaTitle {
    padding: 5em;
}

h1,h2,h3 {
    color: #fff !important;
}

.pastEvents h2 {
    margin-left: 56em;
    margin-top: 5em;
}

button {
    margin-left: 71em;
}
