/* events css */
.events,
.events-title,
.events-subtitle,
.events-name,
.past-events-title,
.events-p {
  color: white;
}

.events {
	min-height: auto;
	max-width: 100%;
	margin-top: 2em;
	background: #333 url('../images/megaMate_eventsbg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
	padding: 5em 0 5em 0;
}

.title.is-4.events-name {
	font-size: 1.8em;
}

.toggle-events-btn {
	border-style: none;
	color: white;
	font-size: 20px;      
	background-color: transparent;
}

.events-title {
	padding-top: 1em;
	font-size: 2.8em;
	text-transform: uppercase;
	font-weight: 600;
}

#events-button {
	margin-top: 0.5em;
	background-color: #FAB418; 
	border-color: transparent;
	color: white;
	width: 100px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.05), 0 6px 20px 0 rgba(0,0,0,0.05);
}

#toggle-products-btn {
	font-size: 0.4em;
	padding-left: 2em;
}

li.events-p {
	font-size: 1.5em;
}


