#voucherTitle,
#voucherSubtitle,
#voucherText {
	padding-top: 30px;
}
#voucherSubtitle {
	padding-top: 30px;
}

#voucherPopBtn {
background-color: #FAB418;
}

ul.bubbles {
	position: absolute;
	top: 50%;
	left: 50%; 
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0; 
	display: flex;
}

ul.bubbles 
li.bubble {
	list-style: none;
	width: 30px;
	height: 30px;
	background-color: #FAB418;
	border-radius: 50%; 
	animation: circlebubbles 1.4s ease-in-out infinite;
}
 
@keyframes circlebubbles {
	0%, 60%, 100%
	{
		transform: scale(0.2);
	} 
	15%
	{
		transform: scale(0.5);
	}
}


ul.bubbles li.bubble
{
	animation-delay: -1.4s;
	background:  #FAB418;
	box-shadow: 0 0 50px #FAB418;
}


.button.is-info.is-outlined {
	border-color: #FAB418;
	color: #FAB418;
}

#voucher-close-btn {
	position: absolute;
	bottom: 2%;
	color: white;
	width: 100px;
	height: 3em;
}

.Modal {
	position: absolute;
	top: 40px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	background-color: transparent;
}

.Overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:white;
}

/* background on first page */ 
#voucher {
	background-color: orange;
}