.title.is-3.vision-subtitle {
  color: #e43e28;
  font-size: 2.3em;
}

.vision-paragraph {
  font-size: 2em;
  line-height: 1.3em;
  padding-top: 5px;
}


#gubbe {
  padding-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 75%;
}

#vision-img-column {
  margin-top: auto;
}

@media screen and (max-width: 800px) {
  #gubbe {
    display: none;
  }
}

/* mediaQuery Mobile */
@media screen and (max-width: 910px) {
  /*#gubbe {
    display: none;
  }*/
  .column.is-half {
    width: 100%;
  }
}

@media screen and (max-width: 1150px) {
  #vision-columns {
    flex-direction: column;
  }
  #gubbe {
    max-width: 50%;
  }
}

@media screen and (min-width: 1600px) {
  #gubbe {
    max-width: 50%;
  }
}


@media screen and (max-width: 420px) {
  .title.is-3.vision-subtitle {
    font-size: 1.6em;
    margin-top: 1rem;
  }
  .vision-paragraph {
    font-size: 1.2em;
  }

}