.toggle-products-btn {
  border: none;
  color: #fba317;
  font-size: 20px;
  padding: 6px 10px 5px 0px;
  text-transform: uppercase;
  font-size: 1em;
  background-color: white;
}

#product-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  max-width: 90%;
}

#louiJama-subtitle {
  color: #305a80;
  margin-top: 1em;
}


