.find-us-title {
  font-size: 2.5em;
  font-weight: bold;
}

.resellers {
  display: flex;
}

.cityName {
  font-size: 2em;
  font-weight: bold;
}

.locationName {
  padding-top: 5px;
  font-size: 20px;
}

iframe {
  height: 480px;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  .resellers {
    display: inline-block;
  }
}
