/*  Resellers */
.map {
  padding-top: 5em;
}

.locationName {
  padding-top: 5px;
  font-size: 1.2em;
}

iframe {
  height: 400px;
  width: 100%;
  padding: 0;
}

.buyOnline {
  margin-top: 2em;
  background-color: #fab317;
  border-color: transparent;
  width: 200px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

#buyOnline-btn {
  color: white;
}

.title.is-3.resellers-subtitle {
  color: #4a754a;
}

.city-div {
  flex-wrap: wrap;
  display: flex;
  padding-left: 0;
}

.city-name {
  flex: 0 0 50%;
}

@media screen and (max-width: 600px) {
  .city-name {
    flex: 0 0 100%;
  }
}
